# Player Trades in Sports

In this Notebook we will be looking at another aspect of sports and which is player trades/sales and acquisition. This is a vital part of the sports business as it can make or break your team. We will be looking at it as an optimization problem.

Problem Statment:
A manager has a player that wants out or wants to replace a underpreforming player and want to choose from an pool of players. we need to make sure that the player does not lower the quality of the team and in the best case find a player that actually imporves the team.

In [2]:
import requests
import pandas as pd
import numpy as np
from dimod import BinaryQuadraticModel
from dwave.system import LeapHybridSampler

In [3]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r = requests.get(url)
json = r.json()
json.keys()

elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [4]:
slim_elements_df = elements_df[['second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]
df = slim_elements_df.merge(elements_types_df, left_on = 'element_type', right_on = 'id')

df = df[['plural_name_short','second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]

In [5]:
df = df[df.minutes > 100]
df.loc[df.plural_name_short == 'GKP', 'class'] = 1
df.loc[df.plural_name_short == 'DEF', 'class'] = 2
df.loc[df.plural_name_short == 'FWD', 'class'] = 3
df.loc[df.plural_name_short == 'MID', 'class'] = 4
df.head()

,plural_name_short,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,class
0,GKP,Leno,1,1,2.3,50,3131,0,26.2,131,1.0
3,GKP,Martínez,2,1,39.7,55,3420,0,33.8,186,1.0
8,GKP,Ryan,4,1,0.3,45,1260,0,8.2,37,1.0
9,GKP,Sánchez,4,1,25.4,45,2430,0,22.4,101,1.0
11,GKP,Pope,5,1,5.7,55,2880,0,26.2,144,1.0

For this simulation we will be looking at the Arsenal an replacing players in that

In [6]:
arsenal_players_df = df[df.team == 1] # get all the aresenal players
arsenal_players_df

,plural_name_short,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,class
0,GKP,Leno,1,1,2.3,50,3131,0,26.2,131,1.0
51,MID,Borges Da Silva,1,3,0.3,65,1398,0,12.0,78,4.0
52,MID,Xhaka,1,3,0.5,50,2519,0,14.0,70,4.0
53,MID,El Sayed Elneny,1,3,0.7,45,1538,0,11.1,50,4.0
54,MID,Maitland-Niles,1,3,0.1,55,1714,0,12.4,68,4.0
55,MID,Partey,1,3,0.4,50,1529,0,9.4,47,4.0
56,MID,Pépé,1,3,3.6,75,1606,0,15.2,114,4.0
58,MID,Willock,1,3,0.7,60,1210,0,13.2,79,4.0
59,MID,Smith Rowe,1,3,7.3,55,1438,0,13.5,74,4.0
60,MID,Saka,1,3,15.1,65,2554,0,17.5,114,4.0
62,MID,Martinelli Silva,1,3,0.3,55,582,0,6.5,36,4.0
256,FWD,Aubameyang,1,4,3.6,100,2330,0,13.1,131,3.0
257,FWD,Lacazette,1,4,5.2,85,1916,0,15.2,129,3.0
258,FWD,Nketiah,1,4,0.5,55,411,0,6.5,36,3.0
317,DEF,Soares,1,2,0.3,45,744,0,6.2,28,2.0
318,DEF,Marí,1,2,0.2,45,900,0,7.6,34,2.0
319,DEF,Bellerín,1,2,0.8,50,2089,0,18.8,94,2.0
320,DEF,Chambers,1,2,0.4,45,751,0,8.0,36,2.0
322,DEF,Holding,1,2,4.0,45,2557,0,23.3,105,2.0
323,DEF,Tierney,1,2,8.4,50,2299,0,19.2,96,2.0
324,DEF,Magalhães,1,2,0.6,50,1996,0,15.6,78,2.0

Now we can remove the Arsenal players from the main Data Frame, (You don't want to replace a player with themselves!)

In [7]:
df = df[df.team != 1]
df.head()

,plural_name_short,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,class
3,GKP,Martínez,2,1,39.7,55,3420,0,33.8,186,1.0
8,GKP,Ryan,4,1,0.3,45,1260,0,8.2,37,1.0
9,GKP,Sánchez,4,1,25.4,45,2430,0,22.4,101,1.0
11,GKP,Pope,5,1,5.7,55,2880,0,26.2,144,1.0
12,GKP,Norris,5,1,0.2,45,180,0,0.7,3,1.0